<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans 
       http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- Constructor injection for Book -->
    <bean id="book" class="com.library.model.Book">
        <constructor-arg value="Effective Java"/>
        <constructor-arg value="Joshua Bloch"/>
    </bean>

    <!-- Constructor injection for LibraryService -->
    <bean id="libraryService" class="com.library.service.LibraryService">
        <constructor-arg ref="book"/>
    </bean>

</beans>
